@font-face {
    font-family: grandHotel;
    src: url("GrandHotel-Regular.otf") format("opentype");
}

@font-face {
	font-family: arch;
    src: url("Archistico.ttf") format("truetype");
}

#body{
	background-color: white;
	font-family: arch;	
}

.input-group-addon {
	width: 50%;
}
 
#tit {
	text-align: center;
	font-size: 70px;
	color: orange;
	font-family: arch;
}

#dopeDiv {
	width: 20%;
}
	
