@font-face {
    font-family: grandHotel;
    src: url("GrandHotel-Regular.otf") format("opentype");
}

@font-face {
	font-family: arch;
    src: url("Archistico.ttf") format("truetype");
}

#body{
	background-color: white;
	//font-family: arch;	
}


#dopeDiv .input-group-addon {
	width: 20%;
}

 
#tit {
	text-align: center;
	font-size: 70px;
	color: orange;
	font-family: arch;
}

#map-canvas {
    width: 900px;
    height: 500px;
	margin: 0 auto;
}

#dopeDiv {
	width: 30%;
}

#cityOptions {
	width: 50%;
}

.input-group .form-control .dates {
	width: 10px;
}
	
